{% extends "views/layout.html" %}
{% block content %}
<div class="main container">
    <div class="row">
        <div class="navbar8  col-md-offset-2">
            <h1 class="title-styling h1-styling">Contact Us</h1>
            <p>Sed dictum dolor vitae dignissim scelerisque. Ut tincidunt, tortor at accumsan eleifend, tellus lectus vestibulum nibh, accumsan sagittis turpis nisl eu mauris. Mauris ut laoreet sapien. Nam suscipit, dui at condimentum accumsan, dui sapien tincidunt.</p>
            <a class="btn btn-primary" href="#">Get in touch</a>
        </div>
    </div>
</div>
{% endblock %}