<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Walkr | {{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" href="/stylesheets/media.css"/>



</head>
<body>
<!-- load navbar.jade-->
{% include "views/navbar.html" %}

<!-- content block-->
{% block content %}
{% endblock %}

<!-- footer-->
<p class="foot text-xs-center">A Social Project</p>
</body>
