/* Font Sizes */


/* Component Styles */

.navbar {
    padding: 1rem 0;
    background: rgba(0,0,0, .25);
}


/* Modifier Styles */
.nav-items .nav-link {
    margin: 0 1rem;
}
.navbar-brand {
    margin: 0;
}
.navbar .nav-link,
.navbar .btn {
    text-transform: uppercase;
    font-size: .95rem;
}


@media (min-width: 0) and (max-width: 47em) {
    .navbar {
        background: #1d2a33;
    }

    .nav-items .nav-item {
        float: none;
    }

    .nav-items .nav-link {
        padding: .65rem 0;
        display: block;
    }

    .nav-items {
        padding: 1rem 0;
        clear: left;
    }

    .navbar .btn {
        margin-left: 1rem;
    }
}



@media (min-width: 48em) {
    .navbar {
        min-height: 70px;
    }

    .navbar-nav .container {
        display: -webkit-flex;
        display: flex;
    }

    .nav-items {
        margin-right: auto;
        margin-left: auto;
    }
}