
/* Base Styles */

body {
	background: #1d2a33 url('../images/BushWalk.jpg') no-repeat;
	background-size: cover;
}

a:hover {
	color: rgba(49,176,213, .7);
}

.h1-styling {
	margin-bottom: 1.5rem!important;
}


.lead {
	margin-bottom: 2.5rem;
	font-size: 1.25rem;
	font-weight: 300;
}

.display-3 {
	font-size: 4.5rem;
	font-weight: 300;
}

.title-styling {
	font-size: 3.5rem;
	font-weight: 300;
}


/* Component Styles */


.lead {
	margin-bottom: 2.5rem;
}
.main {
	color: #fff;
	min-height: calc(100vh - 34px);
}
.foot {
	font-size: .85rem;
	padding: .5rem 0;
	color: rgba(255,255,255, .6);
}

/* Modifier Styles */

.list-group {
	color: initial;
}
.label {
	font-size: .88r\em;
	vertical-align: top;
	margin: 3px 0 0 4px;
}

/* Button Styles */

.btn-primary {
	background: #417aba;
	border-color: #417aba;
}
.btn-primary:hover {
	background: #0275d8;
}

.btn-info {
	background-color: #31b0d5;
	border-color: #2aabd2;
}
.btn-info:hover {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.btn-light {
	color: rgba(255,255,255, .75);
	background: rgba(255,255,255, .12);
}
.btn-light:hover {
	background: rgba(255,255,255, .2);
}
.active,
.btn {
	transition: .4s;
}

.btn {
	display: inline-block;
	padding: .375rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: .4s;
}


/* Icon Styles */

.icn-logo {
	margin: 3px 3px 0;
	float: left;
}
.icn-person {
	font-size: 50px;
	border-radius: 50%;
	border: solid 2px;
	padding: .5rem;
}
.avatar {
	width: 35px;
	margin-right: 18px;
	border: solid 2px rgba(255,255,255, .75);
}
.options {
	display: none;
}
.list-group-item:hover .options {
	display: block;
}
.options .material-icons {
	font-size: 1.25rem;
	cursor: pointer;
	margin-left: 1rem;
	color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
	color: initial;
}


/* Form */

form {
	display: block;
	margin-top: 0em;
}


.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: .25rem;
}

label {
	display: inline-block;
	margin-bottom: .5rem;
	margin-top: .5rem;
}

/* Home */
.text-xs-center {
	text-align: center!important;
}


